<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Comedor</servlet-name>
		<servlet-class>pw.ComedorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Comedor</servlet-name>
		<url-pattern>/comedor</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Registrarmensaje</servlet-name>
		<servlet-class>pw.Registrarmensaje</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registrarmensaje</servlet-name>
		<url-pattern>/registrarmensaje</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Vermensaje</servlet-name>
		<servlet-class>pw.Vermensaje</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Vermensaje</servlet-name>
		<url-pattern>/vermensaje</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>Registrarcomensal</servlet-name>
		<servlet-class>pw.Registrarcomensal</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registrarcomensal</servlet-name>
		<url-pattern>/registrarcomensal</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>Listacomensales</servlet-name>
		<servlet-class>pw.Listacomensales</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Listacomensales</servlet-name>
		<url-pattern>/listacomensales</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
