@CHARSET "ISO-8859-1";
*{
	margin:0;
	padding:0;
}
#registro{
	width:25%;
	margin:20px;
	padding:20px;
	position:absolute;
	top:450px;
	left:600px;
}
label{
	font-size:14px;
	display:block;
	width:100%;
	position:relative;
	left:-150px;
}
#usuario{
	width:100%;
	position:relative;
	left:-150px;
}
#password{
	width:100%;
	position:relative;
	left:-150px;
}
#boton{
	position:absolute;
	left:1px;
	top:100px;
}
input[type="submit"]{
	width:100px;
	height:30px;
	margin-bottom:0;
	background:black;
	color:#fff;
	border:none;
}
input[type="submit"]:hover{
	background:black;
	cursor:pointer;
}